@model Shop_15.Models.Product

<div class="filter @Model.Category.Name">
    <div class="card bg-white rounded shadow-sm" style="border:1px solid #758157">
        <div class="card-body px-3 pt-3 pb-1 row">
            <div class="col-7"><label class="float-left">@Model.Name</label></div>
            <div class="col-5"><label class="float-right"><span class="text-info h5">@Model.Price&#8372;</span></label> </div>
        </div>
        <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@ENV.PathImage@Model.Image" alt="Card image">
        <div class="card-body p-1 px-3 row">
            <span class="badge p-2 border w-100" style="background-color:azure">@Model.Category.Name</span>
            <div class="col-12 pt-2" style="font-size:13px; text-align:justify">
                <p> @Model.ShortDescription</p>
            </div>
            <div class="col-12 p-1">
                <a asp-action="Details" asp-controller="Cart" asp-route-id="@Model.Id" class="btn btn-dark form-control btn-sm my-1 p-2" style="height:40px">View Details</a>
                <a asp-action="RemoveFromCart" asp-route-id="@Model.Id" class="btn btn-warning form-control text-white btn-sm my-1 p-2 w-100" style="height:40px;">Remove from Cart</a>
            </div>
        </div>
    </div>
</div>